<div style="padding: 10px">
    <div class="v-label h1 v-label-h1 good-message v-label-good-message">Welcome to the 2014 Football Pool!</div>

    <h2>Thanks for returning for the 15th season of this football pool.</h2>

    <br>
    <h3>Many New Features Were Added Last Year</h3>
    <ul>
        <li>
            Single Sign-On - You can now use your Gmail, Facebook, LinkedIn, Live or Yahoo! account to login.  But of course you already knew that if you are viewing this page.
            <b>Just make sure you always use the same account!</b><br>
        </li>
        <li>
            Individual Game Deadlines - The rank and winner of each game will be able to be changed up until kickoff time.  This means you can continue to change your Sunday and Monday games
            even after the Thursday night game has started.  This was by far the most requested feature over the years.<br>
        </li>
        <li>
            Automatic Saving of Ranks - The changes you make on the Rank Teams and Rank Games will automatically be saved.  No need to click a button.  However you still need to click
            "Apply To Future Weeks" on the Rank Teams page to have the new team ranks applied to the future games.<br>
        </li>
        <li>
            Reliable Hosting - The site is hosted on Google AppEngine instead of on an old Windows 2000 server in my house.  So the days of hurricane induced power outages disrupting the pool
            should now be behind us.
        </li>
        <li>
            Smack Talk - A place for football pool related disputation, deliberation and dissertation.
        </li>
    </ul>

    <h3>Features That Are Not Quite Complete</h3>
    <ul>
        <li>
            Mobile Support - The drag and drop that is required to rank teams and games works on most modern mobile devices.  It has been tested in Chrome and the Android browser on various
            Android devices.  It has also been tested in Safari on an iPhone 4S.  YMMV.  While the interface is functional on most mobile devices it is definitely not optimal.
        </li>
    </ul>

    <h3>Payment</h3>
    <div>
        Payment of $50 is due at the start of the season.  You won't be allowed to see the standings until you've paid.  Unpaid accounts may be deleted after week two.
    </div>
    <br>

    <h3>
        Any bugs, questions, comments or issues should be emailed to the administrator.
    </h3>
</div>