<div style="padding: 10px">
<b class="subtitle">Registration</b>
<ol>
    <li>
        A Gmail, Facebook, LinkedIn, Live or Yahoo! account with first name, last name,
        and email address is required to join.  Mailing address is required if you want
        your winnings sent to you.  Otherwise you will have to arrange to pick up any
        winnings in person.
    </li>
</ol>
<b class="subtitle">Ranking Teams</b>
<ol>
    <li>
        Since all entry fees are due at the beginning
        of the season, everyone is automatically entered every week. Because of
        this there is now a way to set default picks for all remaining weeks by
        ranking teams. The Rank Teams page allows the player to rank all the
        teams from best (#1 at top) to worst (#32 at bottom).
    </li>
    <li>
        All future week picks will be automatically populated based on the
        difference in team rankings. For example if your #1 team was playing #23 and #7
        was playing #13, both #1 and #7 would be picked as the winners. The first game
        would have a higher confidence assigned because the difference in ranks is
        greater (22 versus 6). If more than one game has the same rank difference
        (e.g. #1 vs #2, #3 vs #4, and #5 vs #6 all have a difference of one) then those
        games will be arbitrarily ranked.
    </li>
    <li>
        Team ranks can be changed throughout the season.  This will update all weeks that
        start in the future.  Weeks that are already in progress will not be changed.
    </li>
</ol>
<b class="subtitle">Ranking Games</b>
<ol>
    <li>
        Each game is ranked similar to the team rankings. Default picks will have
        already been made when teams were ranked. A winner must be selected for each game
        then the games should be ranked from best (#16 at top) to worst (#1 at bottom).
    </li>
    <li>
        Weekly picks can be changed as many times as you want.  There is no limit on how
        soon you can enter picks.  However, no changes can be made after a game's deadline
        has been reached.
    </li>
    <li>
        The administrator will not be able to enter picks for any other players.  You must
        enter your own picks in the system by the deadline in order to participate.
    </li>
</ol>
<b class="subtitle">Deadlines</b>
<ol>
    <li>
        Individual games can be changed until their kickoff time.
    </li>
    <li>
        Once a game deadline has passed that game winner and rank will be locked.  Later games will still
        be able to have their winner changed.  The rank will be able to be changed to any other unlocked rank value.
    </li>
    <li>
        The deadline is based on the time of the web server.  This might be slightly faster
        than your clock, so don't wait until the last minute to try to get picks in.
    </li>
    <li>
        All displayed times are eastern time zone and take into account daylight savings time.
    </li>
</ol>
<b class="subtitle">Weekly Standings</b>
<ol>
    <li>
        Weekly standings will be updated frequently to reflect the current and final scores of the actual games.
    </li>
    <li>
        Points are awarded for each correctly picked game. The most confident game gets 16 points,
        the next 15, and so on up to the number of games for that week. Since each game has a unique rank,
        they will each be worth a different number of points.
    </li>
    <li>
        The total points awarded to a player for their correct picks determines their
        weekly standing. See below to determine weekly payouts for the top weekly score.
    </li>
    <li>
        If a game ends in a tie then no points will be awarded for that game.
        It will be as if that particular game never took place.
    </li>
    <li>
        <b class="emphasize">You will not be able to view the weekly standings until you have paid your entry fees.</b>
    </li>
</ol>
<b class="subtitle">Season Standings</b>
<ol>
    <li>
        Season standings will be updated after the completion of each week (usually Tuesday morning).
        The season standings are a combination of each weekly score.
    </li>
    <li>
        The season winner will be determined after all 17 regular season weeks and playoffs have finished.
    </li>
    <li>
        <b class="emphasize">You will not be able to view the season standings until you have paid your entry fees.</b>
    </li>
</ol>
<b class="subtitle">Entry Fee</b>
<ol>
    <li>
        There is a <b class="emphasize">$50</b> entry fee for the entire season. This includes all 17 regular season weeks AND the playoffs and Super
        Bowl. Payments made through PayPal will be charged an additional $2.00 to offset PayPal fees.
    </li>
    <li>
        Your paid status is displayed on the home page. Please alert the pool administrator if you believe your
        entry fee has been received and your paid status has not been updated.
    </li>
</ol>
<b class="subtitle">Payouts</b>
<ol>
    <li>
        The total season pot will be distributed as follows:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weekly winners each get $50.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Playoff/Super Bowl winner gets $75.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st place overall gets 65% of remaining pot.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd place overall gets 25% of remaining pot.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3rd place overall gets 10% of remaining pot.
    </li>
    <li>
        All payouts will be made at the end of the season.
    </li>
</ol>
<b class="subtitle">Other</b>
<ol>
    <li>
        The pool administrator doesn't pay an entry fee to help offset the costs of hosting and maintaining the site.
    </li>
    <li>
        Any disputes or questions will be decided by the pool administrator. Please check back regularly as all rules are
        subject to change without notice.
    </li>
    <li>
        Any questions, comments, or issues should be emailed to the administrator.
    </li>
</ol>
</div>